body {
    background-color: lightskyblue;
    padding: 2%;
}

.meuNome,
.descricao {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.javascript {
    font-size: 20px;
}

.sql {
    font-size: 20px;
}

.react {
    font-size: 20px;
}

.bootstrap {
    font-size: 20px;
}

main{
    border: 2px solid black;
    height: 300px;
}

#minhafoto {
    float: left;
   width: 15%;
   height: 55%;
   padding: 5px;
   background-color: lawngreen;
    
}

ul li:nth-child(odd){
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}